/* General Styles */
.milkdown {
  --crepe-color-background: var(--joy-palette-background-body);
  --crepe-color-surface: var(--joy-palette-neutral-50);
  --crepe-color-surface-low: #F7F8F9;

  --crepe-color-on-background: var(--joy-palette-text-primary);
  --crepe-color-on-surface: var(--joy-palette-text-primary);
  --crepe-color-on-surface-variant: var(--joy-palette-text-secondary);

  --crepe-color-on-secondary: var(--joy-palette-primary-softColor);
  --crepe-color-on-inverse: var(--joy-palette-neutral-solidColor);

  --crepe-color-inline-code: var(--joy-palette-text-secondary);
  --crepe-color-inline-area: transparent;

  --crepe-color-primary: var(--joy-palette-primary-500);
  --crepe-color-secondary: var(--joy-palette-primary-softBg);
  --crepe-color-error: var(--joy-palette-danger-500);
  --crepe-color-inverse: var(--joy-palette-neutral-solidBg);

  --crepe-color-outline: var(--joy-palette-neutral-400);
  --crepe-color-selected: var(--joy-palette-neutral-softActiveBg);
  --crepe-color-hover: var(--joy-palette-neutral-plainHoverBg);

  --crepe-font-title: var(--joy-fontFamily-display);
  --crepe-font-default: var(--joy-fontFamily-body);
  --crepe-font-code: var(--joy-fontFamily-code);

  --crepe-shadow-1: var(--joy-shadowRing, 0 0 #000),
    0px 1px 4px -1px rgba(var(--joy-shadowChannel, 21 21 21) / var(--joy-shadowOpacity, 0.05)),
    0px 3px 6px -1px rgba(var(--joy-shadowChannel, 21 21 21) / var(--joy-shadowOpacity, 0.05));
  --crepe-shadow-2: var(--crepe-shadow-1);
}

/* Editor */
.milkdown .ProseMirror {
  caret-color: transparent;
  --prosemirror-virtual-cursor-color: var(--crepe-color-on-background);
}

/* Virtual Caret */
.milkdown .ProseMirror {
  .prosemirror-virtual-cursor {
    border-left-width: 1px;
  }

  .prosemirror-virtual-cursor-left {
    border-bottom-width: 1px;
    border-right-width: 1px;
  }

  .prosemirror-virtual-cursor-right {
    border-bottom-width: 1px;
    border-left-width: 1px;
  }
}

.milkdown .ProseMirror-focused .prosemirror-virtual-cursor-animation {
  animation-timing-function: step-end;
  animation-delay: 0.25s;
}

.milkdown .ProseMirror:not(.ProseMirror-focused) .prosemirror-virtual-cursor {
  display: none;
}

/* Markdown Elements */
.milkdown .ProseMirror {
  h1, h2, h3, h4, h5, h6 {
    margin-top: 4px;
    margin-bottom: 4px;
    font-weight: 400;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 26px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 22px;
  }

  h5 {
    font-size: 20px;
  }

  h6 {
    font-size: 18px;
  }

  p {
    font-size: 16px;
  }

  blockquote {
    padding-left: 16px;
  }

  .milkdown-code-block {
    padding: 6px 12px 8px;
    font-size: 0.92rem;
    .cm-line, .cm-gutters {
      font-family: var(--crepe-font-code);
    }
    .cm-selectionBackground {
      background-color: var(--crepe-color-selected) !important;
    }
  }

  span[data-type='math_inline'] {
    color: var(--crepe-color-on-background);
  }
}

/* General Class */
.milkdown-icon {
  border-radius: var(--joy-radius-sm) !important;
}

/* Link Preview Popup */
.milkdown .milkdown-link-preview {
  .link-preview {
    align-items: center;
    border-radius: var(--joy-radius-sm);
    span:nth-of-type(1) {
      display: none;
    }
    a {
      margin-left: 2px;
    }
    height: 40px;
    .link-display {
      font-size: 0.92rem;
    }
  }
}

/* Link Input Popup */
.milkdown .milkdown-link-edit {
  .link-edit {
    align-items: center;
    border-radius: var(--joy-radius-sm);
    height: 40px;
    padding-left: 12px;
    .input-area {
      font-family: var(--crepe-font-default);
      font-size: 0.92rem;
    }
  }
}

/* Image Upload Placeholder */
.milkdown .milkdown-image-inline {
  .link-importer {
    .uploader {
      font-weight: 500 !important;
    }
    .link-input-area {
      width: 220px !important;
    }
  }
}

.milkdown .milkdown-image-block {
  .image-edit {
    height: 48px;
    padding: 8px 16px;
  }
  .link-importer {
    height: 32px;
    line-height: 32px;
    .uploader {
      font-weight: 500 !important;
    }
    .link-input-area {
      font-size: 0.92rem;
      font-family: var(--crepe-font-default);
    }
  }
  .confirm {
    background-color: var(--crepe-color-surface) !important;
    height: 32px;
    width: 32px;
    border-radius: var(--joy-radius-lg) !important;
    padding: 0 6px !important;
    .milkdown-icon {
      fill: var(--crepe-color-on-background);
      height: 20px;
      width: 20px;
      :hover {
        background-color: transparent !important;
      }
    }
  }
}

/* Block Menu Popup */
.milkdown .milkdown-block-handle {
  .operation-item:nth-of-type(1) {
    display: none;
  }

  @media (max-width: 800px) {
    .operation-item:nth-of-type(2) {
      display: none;
    }
  }
}

/* Slash Menu Popup */
.milkdown .milkdown-slash-menu {
  border-radius: var(--joy-radius-sm);
  ul li {
    border-radius: var(--joy-radius-sm);
    span {
      font-weight: var(--joy-fontWeight-md) !important;
    }
  }
  .tab-group {
    padding-top: 4px;
  }
  .menu-groups .menu-group li {
    padding: 8px 8px;
  }
}

/* Tool Menu Popup */
.milkdown .milkdown-toolbar {
  border-radius: var(--joy-radius-sm);
}

/* Code Mirror Structure */
.milkdown .milkdown-code-block {
  .cm-cursor {
    border-left-width: 1px;
    border-left-color: var(--crepe-color-on-background);
    animation-timing-function: step-end;
    animation-delay: 0.25s;
  }
  .expand-icon {
    transition: none !important;
  }
  .copy-button, .preview-toggle-button {
    border-radius: var(--joy-radius-sm) !important;
  }
  .list-wrapper {
    border-radius: var(--joy-radius-sm) !important;
    .search-box {
      outline-color: var(--joy-palette-neutral-outlinedBorder);
    }
    .language-list-item {
      padding: 8px 20px !important;
      font-weight: var(--joy-fontWeight-md) !important;
    }
  }
  .cm-panels.cm-panels-bottom {
    border: 0px;
    .cm-textfield, .cm-button {
      border-radius: var(--joy-radius-xs);
    }
  }
}

/* Table Structure */
.milkdown .milkdown-table-block {
  .button-group {
    border-radius: var(--joy-radius-sm) !important;
  }
}

/* LaTeX Input Popup */
.milkdown .milkdown-latex-inline-edit {
  border-radius: var(--joy-radius-sm);
  height: 40px;
  padding-top: 11px;
  padding-bottom: 11px;
  .container {
    height: 18px;
    .ProseMirror {
      font-size: 0.92rem;
      height: 18px;
      line-height: 18px;
      white-space: nowrap;
      overflow-x: auto;
      overflow-y: hidden;
      scrollbar-width: none;
      -ms-overflow-style: none;
      caret-color: var(--crepe-color-on-background);
    }
    .milkdown-icon {
      fill: var(--crepe-color-outline);
      height: 18px;
      width: 18px;
    }
  }
}
