/* general styles */
.milkdown {
  --crepe-color-background: var(--joy-palette-background-body);
  --crepe-color-surface: var(--joy-palette-background-surface);
  --crepe-color-surface-low: var(--joy-palette-background-level1);

  --crepe-color-on-background: var(--joy-palette-text-primary);
  --crepe-color-on-surface: var(--joy-palette-text-primary);
  --crepe-color-on-surface-variant: var(--joy-palette-text-secondary);

  --crepe-color-on-secondary: var(--joy-palette-primary-softColor);
  --crepe-color-on-inverse: var(--joy-palette-neutral-solidColor);

  --crepe-color-inline-code: var(--joy-palette-text-secondary);
  --crepe-color-inline-area: transparent;

  --crepe-color-primary: var(--joy-palette-primary-500);
  --crepe-color-secondary: var(--joy-palette-primary-softBg);
  --crepe-color-error: var(--joy-palette-danger-500);
  --crepe-color-inverse: var(--joy-palette-neutral-solidBg);

  --crepe-color-outline: var(--joy-palette-neutral-400);
  --crepe-color-selected: var(--joy-palette-neutral-softActiveBg);
  --crepe-color-hover: var(--joy-palette-neutral-plainHoverBg);

  --crepe-font-title: var(--joy-fontFamily-display);
  --crepe-font-default: var(--joy-fontFamily-body);
  --crepe-font-code: var(--joy-fontFamily-code);
}

/* editor */
.milkdown .ProseMirror {
  caret-color: transparent;
  --prosemirror-virtual-cursor-color: var(--crepe-color-on-background);
}

.milkdown .ProseMirror .prosemirror-virtual-cursor {
  border-left-width: 1px;
}

.milkdown .ProseMirror .prosemirror-virtual-cursor-left {
  border-bottom-width: 1px;
  border-right-width: 1px;
}

.milkdown .ProseMirror .prosemirror-virtual-cursor-right {
  border-bottom-width: 1px;
  border-left-width: 1px;
}

.milkdown .ProseMirror-focused .prosemirror-virtual-cursor-animation {
  animation-timing-function: step-end;
  animation-delay: 0.25s;
}

/* block menu popup */
.milkdown .milkdown-block-handle {
  .operation-item:nth-of-type(1) {
    display: none;
  }
}

.milkdown .milkdown-top-bar {
  background-color: var(--joy-palette-background-body);
  padding-left: 0;
  padding-right: 0;
  border: 0;
}

/* slash menu popup */
.milkdown .milkdown-slash-menu {
}

/* tool menu popup when selecting text */
.milkdown .milkdown-toolbar {
}

/* link preview popup when hovering on links */
.milkdown .milkdown-link-preview {
}

/* link input popup */
.milkdown .milkdown-link-edit {
}

/* latex input popup */
.milkdown .milkdown-latex-inline-edit {
}
